ul li {
    list-style-type: none; /* 去掉项目符号 */
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;/* 高度占浏览器可视区域的总高度 */
    overflow: hidden;
}


/* 隐藏鼠标点击这些元素时出现的光标 */
div, span, p {
    caret-color: transparent;
}

div:focus{
    outline:none;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;    /*文字禁止选中*/
    box-sizing: border-box;  /* 盒子模型 */
}